@import "variables";
@import "base";
@import "layout";
@import "utils";
@import "../pages/LoginPage/loginPage";
@import "../components/Login/login";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}