@import "../../styles/variables";
@import "../../styles/utils";

.form__container {
    
    .form__header {
        display: flex;
        flex-direction: column;
        gap: 1;
        margin-bottom: 50px;
      
    }

    .forgot__password {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #39CDCC;
        font-family: $primary-font-family;
    }

    .form {
        @include flexbox(space-between);
        width: 100%;
        gap: 1em;
    }
    button {
        height: 48px;
    }

  
}